<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mlambo Resume</title>
    <link rel="stylesheet" href="Public/Style.css">
</head>
<body>

<header class="header">
    <nav class="navbar">
        <a href="#" class="nav-logo">Mlambo</a>

        <ul class="nav-menu">
            <li class="nav-item">
                <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Services</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
            <li class="nav-item nav-item-cta"><a href="#" class="nav-link nav-cta">Get Started</a></li>
        </ul>

        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>
<main style="padding: 2rem; text-align: center;">
    <section class="hero-section">
        <div class="hero-content">
            <div class="hero-text-left">
                <h2>Hi, I'm Tshepang, A </h2>
                <h1><span class="typing-text">INSERT TEXT HERE</span><span class="cursor"></span></h1>
            </div>
        </div>
        <div class="hero-image-container">
            <img src="IMG_0265.JPG" alt="Tshepang Mlambo" class="hero-image" height="400px" width="400px"/>
        </div>
    </section>
    <secion>
        <section class="about-section">
            <button onclick="window.location.href='Index.js'"> Click me</button>
        </section>
    </secion>
</main>

<script src="Script.js"></script>
</body>
</html>